body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Quicksand';
  src: url('./assets/fonts/Quicksand-VariableFont_wght.ttf') format('truetype');
  font-weight: 1 999;
}

*{
  box-sizing: border-box;
  font-family: Quicksand; 
}

.nodisp {
  display: none;
}

.Common__navbar{
  position: fixed;
  padding : 6px 19px;
  top :0;
  margin :0;
  width : 100vw;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF !important;
  border-bottom: 1px solid #C4C4C4;
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.1);
  z-index : 9999;
}

.Common__fopmlogo {
  width : 59px;
  height : auto;
}

.Common__profilelogo {
  width : 28px;
  height : auto;
  color : #582E90;
  cursor: pointer;
}

.Common__footerbtns {
  max-width: 100vw;
  margin : 0;
  margin-bottom: 23px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Common__footerbtns Button {
  margin: 0;
  background-color: #582E90;
  border: 0;
}

.Common__footerbtns Button:nth-of-type(2) {
  margin-left: 5px;
}

@media screen and (max-width : 325px) {
    .Common__footerbtns Button {
      font-size: 0.85rem;
    }
}